<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pokedex</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <h1>pokedex 🐛</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" id="csvFile" name="csvFile" accept=".csv" />
      <input type="submit" value="Import from CSV" name="submit" />
    </form>
    {% if pokemon %}
    <div class="table">
      <table>
        <tr>
          {% for column in cur.description %} {% if column[0] != 'id' %}
          <th>{{ column[0] }}</th>
          {% endif %} {% endfor %}
        </tr>

        {% for pkm in pokemon %}
        <tr id="{{ pkm[0] }}">
          {% for value in pkm[1:] %}
          <td contenteditable="false">{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <div class="pagination">
        <a href="{{ url_for('index', page=page-1) if page > 1 else '#' }}"
          >Previous</a
        >
        <span>Page {{ page }}</span>
        <a href="{{ url_for('index', page=page+1) }}">Next</a>
      </div>
    </div>
    {% else %}
    <p>No Pokemon data found! Maybe import some data from a CSV?</p>
    {% endif %}
  </body>
</html>
